*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.centered {
    position: relative;
    text-align: center;
    color: white;
  }
  .image {
    position: relative;
    font-family: Arial;
  }
  
  .text-block{
    position: absolute;
    /* bottom: 1px; */
    right: 20px; 
    background-color: rgb(112, 112, 142);
    color: white;
    padding-left: 40px;
    padding-right: 40px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .container{
    border: 2px solid black;
    padding: 30px;
    background-color: rgb(100, 148, 148);
    color: rgb(30, 28, 28);
      padding-left: 300px;
     padding-right: 400px; 
     position: absolute;
     /* padding: auto; */
    height: 280px;   
  }
.containers{
  width: 100%;
  margin-left: 150px;
  max-width: 700px; 
  height: 330px;
  display: flex;
 } 
.bottom_section{
  display: flex;
  padding-left: 70px;
 
}
.contact{
  background-color: #515603;
  padding: 32px;
  height: 200px;
}
.about{
  background-color: #91c197;
  padding: 32px;
  height: 200px;
 
}
.words{
  position: absolute;
  right: 20px; 
  background-color: rgb(16, 16, 45);
  color: white;
  padding-left: 100px;
  padding-right: 300px; 
  position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-100%, -50%);
  text-align: center;
  border: 4px solid black;
  background-repeat: no-repeat;
  /* display: flex; */
}

 .containerssd{
  padding-left: 750px;
  background-color: aquamarine;

  
} 
.h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
 }  



.contain{
  border: 2px solid black;
  padding: 20px;
  /* background-color: rgb(100, 148, 148); */
  /* color: rgb(30, 28, 28); */
  padding-left: 300px;
  padding-right: 400px;
  position: absolute;
  padding-top: 50px;
 
}
.img{
 padding-top: 100px;
}
.footer{
  background-color: rgb(22, 22, 47);
  justify-content: center;
  align-items: center;
}
.NAVI{
  margin-left: 300px;
  padding-top: 70px;
  height: 1px;
  text-align: justify;
}
.con{
  margin-left: 740px;
   height: 260px;
  text-align: justify;
}
